# Виртуальные среды
# Игнорировать папку с виртуальным окружением в корне
.venv/

# Игнорировать папку с виртуальным окружением внутри подпапки BotExample
# (Если в BotExample тоже есть venv)
BotExample/venv/

# Игнорировать папку с примером/тестом
BotExample/

# Конфигурационные файлы, содержащие токены или ключи
# Игнорировать файл config.py (если он содержит BOT_TOKEN или API_KEY)
config.py

# Игнорировать кэш Python
__pycache__/

# Файлы операционной системы и IDE (PyCharm)
.idea/
.DS_Store